In [1]:
import pandas as pd
import numpy as np
import talib
import stock_data.fill_data as fd
from stock_data.models import Stock 
import datetime

In [12]:
# Load data
end = datetime.datetime.now().date()
start = end - datetime.timedelta(days=60)
with fd.open_session() as conn:
  data = pd.read_sql(conn.query(Stock).filter(Stock.symbol == 'CEM' and Stock.date.between(start, end)).statement, con=conn.bind, index_col='date')

In [13]:
data['EMA'] = talib.EMA(data['close'], timeperiod=20)
data['stddiv'] = talib.STDDEV(data['close'], timeperiod=20)
data['high_price'] = data['close'] + data['stddiv']
data['upperband'], data['middleband'], data['lowerband'] = talib.BBANDS(data['close'], timeperiod=20, nbdevup=2, nbdevdn=2)

data[['close', 'EMA', 'stddiv', 'high_price', 'upperband']].tail(10)

              close        EMA    stddiv  high_price  upperband
date
2024-04-24  45.9800  45.152254  0.736140   46.716140  46.938781
2024-04-25  45.9700  45.230135  0.740433   46.710433  46.987866
2024-04-26  45.8300  45.287265  0.741434   46.571434  46.992369
2024-04-29  45.8900  45.344668  0.743999   46.633999  47.003498
2024-04-30  45.0799  45.319452  0.741413   45.821313  46.952822
2024-05-01  45.1100  45.299504  0.715335   45.825335  46.837665
2024-05-02  45.6600  45.333837  0.700798   46.360798  46.787091
2024-05-03  46.0100  45.398234  0.692087   46.702087  46.761168
2024-05-06  46.4600  45.499354  0.705454   47.165454  46.797404
2024-05-07  46.8300  45.626082  0.766137   47.596137  46.965769